*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1%;
}
header{
    display: flex;
    justify-content: space-between;
 }
.title-icon{
    display:inline-flex;
}
.btn
{     
    background-color: white;
    border: none;
}
.option-icon
{
    height: 2px;
    width: 10px;
    background-color: black;
    margin: 6px 0;
}
.icon{
    display: flex;
}
.bar1{
    transform: translate(2px,0) rotate(45deg);
}
.bar2{
    transform: translate(-2px,0) rotate(-45deg);
}
.header-icon
{
    display:inline-flex;
    column-gap: 20px;
 }
.bar-icon
{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}
.round-icon{
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: auto;
}
.inner-circle{
    border: 30px solid white;
    border-radius: 50%;
}
.profile-header
{   
    display: flex;
    width: 100%;
  }
.profile-image
{
    display: flex   ;
}
.profile-status
{
    display: flex;
    width: 100%;
    gap: 0px 10px
}
.profile_section-btn
{
    display: flex;
    column-gap: 20px;
}
.bio-data-section{
   display: inline-grid;
   
}
.profile_btn
{
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}
/* .profile-post-section
{ 
    margin-top: 0px;
    gap: 5px 5px;
} */
/* flex using display the reels */
/* .post{
    display: flex;
    padding: 10px;
    gap: 5px 5px;
    flex-wrap: wrap;
}
.post-grid
{
    width: 100px;
    height: 150px;
    background-color: pink;
} */
.post-container
{
    display: grid;
    height:65vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px
}
.post-grid
{    
    background-color: pink;
}
nav  {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-left: -20px;
    margin-right: -10px;
}
.round-icon{
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: auto;
}
.inner-circle{
    border: 20px solid white;
    border-radius: 50%;
}
footer{
    position: fixed;
    width: inherit;
    background-color: #ffff;
    overflow: hidden;
    bottom: 0;
}