.search-header
{
    display: flex;
    background-color: lightgray;
    font-size: 1.5rem;
    text-align: left;
    border-radius: 10px;    
}
input{
    border:none ;
    border-radius: 10px;
    background-color: lightgray;
   
}
.search-section{
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(3,auto);
    gap: 5px;
 }
.reels
{
    background-color: pink;
}
 